/* Контрол с общими действиями */
.CartTotal{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 700;
}

.CartTotal__title{
    margin-right: 50px;
}

.CartTotal__price{
    font-size: 18px;
    font-weight: 700;
}

.CartTotal__quantity{
    min-width: 50px;
    padding: 20px 0 20px 55px;
    text-align: right;
}